<div class="container">
    <div class="row section-box">
        <div id="appointment" class="col-sm-4  description-text p-0">
            <img style="height: 100px;width: 100px;" src="assets/appointment.png">
        </div>
        <div id="report" class="col-sm-4 description-image p-0">
            <img style="height: 100px;" src="assets/report.png">
        </div>
    </div>
    <div class="row section-box">
        <div class="col-sm-4 description-text p-0">
            <img style="height: 100px;" src="assets/prescription.png">
        </div>
        <div class="col-sm-4 description-text p-0">
            <img style="height: 100px;" src="assets/emergency.png">
        </div>
    </div>
    <div class="row section-box">
        
        <div id="faq" class="col-sm-4 description-image p-0">
            <img style="height: 100px;" src="assets/faq.png">
        </div>
        <div id="cal" class="col-sm-4 description-image p-0">
            <img style="height: 100px;" src="assets/calendar.png">
        </div>
    </div>
    
</div>