<div>
    <div class="row section-box">
        <div id="appointment" class="col-md-4 col-lg-4 col-sm-6 col-xs-6  description-text p-0 container-tile card">
            <div class="card-body appointment">
              <img style="height: 100px;width: 100px;" src="assets/appointment.png" class="row">
              <div class="caption row">Appointment</div>
            </div>
        </div>
        <div id="report" class="col-md-4 col-lg-4 col-sm-6 col-xs-6 description-image p-0 container-tile card">
          <div class="card-body report">
            <img style="height: 100px;" src="assets/report.png">
            <div class="caption">Alert & Daily Vitals</div>
          </div>
        </div>

      <div id="prescription" class="col-md-4 col-lg-4 col-sm-6 col-xs-6 description-text p-0 container-tile card">
        <div class="card-body prescription">
          <img style="height: 100px;" src="assets/prescription.png">
          <div class="caption">Prescription</div>
        </div>
      </div>
      <div id="emergency" class="col-md-4 col-lg-4 col-sm-6 col-xs-6 description-text p-0 container-tile card">
        <div class="card-body emergency">
          <img style="height: 100px;" src="assets/emergency.png">
          <div class="caption">Emergency-SOS</div>
        </div>
      </div>

      <div id="faq" class="col-md-4 col-lg-4 col-sm-6 col-xs-6 description-image p-0 container-tile card">
        <div class="card-body faq">
          <img style="height: 100px;" src="assets/faq.png">
          <div class="caption">FQA</div>
        </div>
      </div>
      <div id="cal" class="col-md-4 col-lg-4 col-sm-6 col-xs-6 description-image p-0 container-tile card">
        <div class="card-body cal">
          <a (click)="speak()"><img style="height: 100px;" src="assets/mom n baby.JPG"></a>
          <div class="caption">Self care Tips</div>
        </div>
      </div>
  </div>
    <!--<div class="row section-box">
        <div class="col-sm-4 description-text p-0">
            <img style="height: 100px;" src="assets/prescription.png">
        </div>
        <div class="col-sm-4 description-text p-0">
            <img style="height: 100px;" src="assets/emergency.png">
        </div>
    </div>-->
    <!--<div class="row section-box">

        <div id="faq" class="col-sm-4 description-image p-0">
            <img style="height: 100px;" src="assets/faq.png">
        </div>
        <div id="cal" class="col-sm-4 description-image p-0">
            <img style="height: 100px;" src="assets/calendar.png">
        </div>
    </div>-->

</div>
